@charset "UTF-8";
header {
	text-align: center;
	font-family: "Century Gothic", sans-serif;
	color: gray;
}
body {
	font-family: "Century Gothic", Helvetica, sans-serif;
	background-image: url(images/grid-background.png);
}


#wrapper {
	width: 98%;
	height: 98%;
	margin-left: 10%;
	margin-right: 10%;

}

nav{
	width: 95%;
	float: left;

}

nav ul {
	
	list-style-type: none;
	font-size: 2em;

	
}

nav ul li{
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
}

nav ul li a{
	
	text-decoration: none;
	font-weight: normal;
	font-size: 1.8em;
	letter-spacing: 4px;
	color: gray;

}

nav ul li a:hover{
	color: #313131;
}



footer{
	height: 30px;
	width: 80%;
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 5px;
	color: #000;
	float: left;
	
	opacity: 0.8;
}

footer ul{
	margin: 0 0 0 150px;
	padding: 2px 10px 10px 10px;
}
footer ul li{
	display: inline;
	margin: 0 50px 0 20px;
	float: right;
}

footer ul li a{
	
	text-decoration: none;
	color: #ffffff;
}

footer ul li a:hover{
	color: black;
}

footer p{
	margin: -15px 0 0 700px;
}